<div class="card w-100">
  <div class="card-body message-card bg-light">
    <p class="card-text mb-1">{{message_text}}</p>
    <small class="text-muted">Posted by {{user.username}} on {{format_date created_at}}.</small>
  </div>
</div>