<div class="parent-div">
    <div class="bg-light curved-background">
        <form class="signup-form">
            <div class="form-group">
                <label for="create-username" class="pretty-label">Username:</label>
                <input type="text" class="form-control" id="username-signup">
            </div>
            <div class="form-group">
                <label for="create-email" class="pretty-label">Email:</label>
                <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="create-password" class="pretty-label">Password:</label>
                <input type="password" class="form-control" id="password-signup">
            </div>
            <button type="submit" class="btn pretty-btn gradient-button">Submit</button>
        </form> 
    </div>
</div>
<script src="/javascript/create-user.js"></script>