<div class="row">
      <div class="col-2">
         <div class="test-col">
            <h2>Edit Post:</h2>
            <form class="post-title">
               <label for="edit-post-title" class="pretty-label">Title:</label>
               <input type="text" class="form-control" id="title-edit">
               <label for="edit-post-title" class="pretty-label">Description:</label>
               <textarea class="form-control" id="title-edit"></textarea>
               <label for="upload-image" class="pretty-label">Add Image:</label>
               <input type="file" class="img-input form-control" id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04" aria-label="Upload">
               <button class="bad-btn btn btn-outline-secondary" type="button"
                  id="inputGroupFileAddon04">Button</button>
            </form>
         </div>
      </div>
      <div class="col-10 justify-content-center align-self-center">
         <div class="row">
            <div class="col-1"></div>
            <div class="col-10 center mb-3">
               <div class="card  mb-3">
                  <img src="https://via.placeholder.com/900x300.png?text=Visit+Ihatemylife.com" class="card-img-top"
                     alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
               </div>
            </div>
            <div class="col-1"></div>
         </div>
      </div>
   </div>


