<div>
    <p>Direct Messages</p>
    {{#if loggedIn}}
    {{#each chats}}
    <p>{{user.username}} said {{chat_text}} on {{post.title}}</p>
    {{/each}}
    
    {{>dm}} 

    
    {{/if}}
</form>

</div>