<div class="all-posts">
    {{>post-info}}
</div>

<div class="card-container search-results hide">
    <div class="row card-row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 search-row">
        
    </div>
</div>