{{#if posts}}
<div class="card-container">
    <div class="row card-row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {{#each posts}}
        {{>post-info}}
    {{/each}}
    </div>
</div>
{{/if}}

{{#unless posts}}
<div class="card bg-light">
    <img src="/images/oops.jpg" class="card-img-top">
    <div class="card-body bg-light">
        <h5 class="card-title">Oops!</h5>
        <p class="card-text">
            No listings found!
        </p>
    </div>
</div>  
{{/unless}}