<link rel="stylesheet" href="/stylesheets/login-page.css" />
  <div class="container fluid" id="page-title">
    <h1 class="site-title">Something Special</h1>
    <p class="lead login-page-text">Planning a <span class="focus-word">special</span> event? Buy, rent, or sell unique event-related goods within your local community<span class="focus-word">!</span> </p>
  </div>
<div class="container-fluid w-100">
    <div class="row login-img d-flex justify-content-center">
        <div class="curved-background">
            <form class="login-form ">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="pretty-label">Email:</label>
                    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="pretty-label">Password:</label>
                    <input type="password" class="form-control" id="password-login">
                </div>
                <button type="submit" class="btn styled-btn gradient-button">Login</button>
                <br>
                <br>
                <div class="account-creation">
                Don't have an account? <a href="/create-account">Sign up!</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>
