{{> post-info post}}



{{#if loggedIn}}
    
    <div>
        <button id="chat" type="submit">Message Author</button>
    </div>

<form class="message-form">
    
    <div>
        <textarea name="message-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Message</button>
    </div>
</form>
{{/if}}

{{> messages post.message}}

{{#if loggedIn}}
<script src="/javascript/message.js"></script>
{{/if}}