* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: 'hello-honey';
    src: url(../fonts/hello-honey.otf) format('opentype');
}

.parent-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.app-title a {
    text-decoration: none;
    padding-top: 100px;
    font-family: 'hello-honey';
    color: white;
    font-size: 125px;
}

.curved-background {
    border-radius: 35px;
    padding: 35px;
    box-shadow: 15px 10px 30px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

html, body {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    text-align: center;
}

main {
    width: 100%;
}

/* .login-form, .signup-form {
    justify-content: center;
} */

.pretty-label {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}
.form-control {
    width: 15rem;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pretty-btn {
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    width: 200px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%) !important;
}
.pretty-btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* 
.navbar-nav {
    margin: 7.5px -15px; }

.navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px; }

    
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
          padding: 5px 15px 5px 25px; }
.navbar-nav .open .dropdown-menu > li > a {
          line-height: 20px; }
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
            background-image: none; } 
   
  @media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0; }
    .navbar-nav > li {
        float: left; }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px; } }

.container > .navbar-header,
.container > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px; }

  @media (min-width: 768px) {
        .container > .navbar-header,
        .container > .navbar-collapse {
            margin-right: 0;
            margin-left: 0; } }

    @media (max-width: 767px) {
        .navbar-nav .open .dropdown-menu {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          background-color: transparent;
          border: 0;
          box-shadow: none; }}

.navbar-inverse .navbar-toggle .icon-bar {
            background-color: white; }

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
    .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; } */