#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

.center {
    display:flex;
    width:100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    padding: 20px;
}

/* #fileButton {

} */


/* #fileButton:hover {

} */